.ce-inline-toolbar {
  color: black;
}

.codex-editor__redactor {
  padding-bottom: 0 !important;
  overflow: hidden;
}

.fullWidth .codex-editor * {
  max-width: unset !important;
}

.editorReadOnly .ce-block--selected .ce-block__content {
  background-color: unset;
}
